body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 20px;
  text-align: center;
}

.logo {
  width: 300px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #FE8039;
  text-decoration: none;
}

nav a:hover {
  color: #D04839;
}

footer {
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
  margin-top: auto;
}

footer nav ul {
  margin-bottom: 10px;
}

footer p {
  margin-bottom: 0;
}
``
